<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkwee.web.dao.CrmCfpLevelRecordMapper">
	<!-- Result Map-->
	<resultMap  type="com.linkwee.web.model.CrmCfpLevelRecord" id="BaseResultMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="month" property="month" jdbcType="INTEGER"/>
		<result column="yearpur_amount" property="yearpurAmount" jdbcType="DECIMAL"/>
		<result column="cur_level" property="curLevel" jdbcType="VARCHAR"/>
		<result column="cur_level_weight" property="curLevelWeight" jdbcType="INTEGER"/>
		<result column="pre_level" property="preLevel" jdbcType="VARCHAR"/>
		<result column="ta_count" property="taCount" jdbcType="INTEGER"/>
		<result column="sm1_count" property="sm1Count" jdbcType="INTEGER"/>
		<result column="sm2_count" property="sm2Count" jdbcType="INTEGER"/>
		<result column="sm3_count" property="sm3Count" jdbcType="INTEGER"/>
		<result column="opt_type" property="optType" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="operator" property="operator" jdbcType="VARCHAR"/>
	</resultMap>
	
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
	    	id,
	    	user_id,
	    	month,
	    	yearpur_amount,
	    	cur_level,
	    	cur_level_weight,
	    	pre_level,
	    	ta_count,
	    	sm1_count,
	    	sm2_count,
	    	sm3_count,
	    	opt_type,
	    	status,
	    	create_time,
	    	update_time,
	    	operator,
    </trim>
  </sql>
  
 <sql id="Base_Column_List_T">
    <trim suffixOverrides=",">
	    	t.id,
	    	t.user_id,
	    	t.month,
	    	t.yearpur_amount,
	    	t.cur_level,
	    	t.cur_level_weight,
	    	t.pre_level,
	    	t.ta_count,
	    	t.sm1_count,
	    	t.sm2_count,
	    	t.sm3_count,
	    	t.opt_type,
	    	t.status,
	    	t.create_time,
	    	t.update_time,
	    	t.operator,
    </trim>
  </sql>  
  
  <sql id="Base_Condition">
		<if test=" null != id ">
			and id = #{id}
		</if>
		<if test=" null != userId and ''!= userId  ">
			and user_id = #{userId}
		</if>
		<if test=" null != month ">
			and month = #{month}
		</if>
		<if test=" null != yearpurAmount ">
			and yearpur_amount = #{yearpurAmount}
		</if>
		<if test=" null != curLevel and ''!= curLevel  ">
			and cur_level = #{curLevel}
		</if>
		<if test=" null != curLevelWeight ">
			and cur_level_weight = #{curLevelWeight}
		</if>
		<if test=" null != preLevel and ''!= preLevel  ">
			and pre_level = #{preLevel}
		</if>
		<if test=" null != taCount ">
			and ta_count = #{taCount}
		</if>
		<if test=" null != sm1Count ">
			and sm1_count = #{sm1Count}
		</if>
		<if test=" null != sm2Count ">
			and sm2_count = #{sm2Count}
		</if>
		<if test=" null != sm3Count ">
			and sm3_count = #{sm3Count}
		</if>
		<if test=" null != optType ">
			and opt_type = #{optType}
		</if>
		<if test=" null != status ">
			and status = #{status}
		</if>
		<if test=" null != createTime ">
			and create_time = #{createTime}
		</if>
		<if test=" null != updateTime ">
			and update_time = #{updateTime}
		</if>
		<if test=" null != operator and ''!= operator  ">
			and operator = #{operator}
		</if>
  </sql>
  
  <select id="selectOneByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.CrmCfpLevelRecord">
		select <include refid="Base_Column_List" /> from tcrm_cfp_level_record 
		where 1=1 <include refid="Base_Condition" />
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.CrmCfpLevelRecord">
		select <include refid="Base_Column_List" /> from tcrm_cfp_level_record 
		where 1=1 <include refid="Base_Condition" />
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tcrm_cfp_level_record
    where  id = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tcrm_cfp_level_record
    where id = #{0}
  </delete>

  <insert id="insert" parameterType="com.linkwee.web.model.CrmCfpLevelRecord" >
    INSERT INTO tcrm_cfp_level_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
			 	<if test=" null != month ">
					month,
				</if>
			 	<if test=" null != yearpurAmount ">
					yearpur_amount,
				</if>
			 	<if test=" null != curLevel and ''!= curLevel  ">
					cur_level,
				</if>
			 	<if test=" null != curLevelWeight ">
					cur_level_weight,
				</if>
			 	<if test=" null != preLevel and ''!= preLevel  ">
					pre_level,
				</if>
			 	<if test=" null != taCount ">
					ta_count,
				</if>
			 	<if test=" null != sm1Count ">
					sm1_count,
				</if>
			 	<if test=" null != sm2Count ">
					sm2_count,
				</if>
			 	<if test=" null != sm3Count ">
					sm3_count,
				</if>
			 	<if test=" null != optType ">
					opt_type,
				</if>
			 	<if test=" null != status ">
					status,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != updateTime ">
					update_time,
				</if>
			 	<if test=" null != operator and ''!= operator  ">
					operator,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
			 	<if test=" null != month ">
					 	#{month},
				</if>
			 	<if test=" null != yearpurAmount ">
					 	#{yearpurAmount},
				</if>
			 	<if test=" null != curLevel and ''!= curLevel  ">
					 	#{curLevel},
				</if>
			 	<if test=" null != curLevelWeight ">
					 	#{curLevelWeight},
				</if>
			 	<if test=" null != preLevel and ''!= preLevel  ">
					 	#{preLevel},
				</if>
			 	<if test=" null != taCount ">
					 	#{taCount},
				</if>
			 	<if test=" null != sm1Count ">
					 	#{sm1Count},
				</if>
			 	<if test=" null != sm2Count ">
					 	#{sm2Count},
				</if>
			 	<if test=" null != sm3Count ">
					 	#{sm3Count},
				</if>
			 	<if test=" null != optType ">
					 	#{optType},
				</if>
			 	<if test=" null != status ">
					 	#{status},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != updateTime ">
					 	#{updateTime},
				</if>
			 	<if test=" null != operator and ''!= operator  ">
					 	#{operator},
				</if>
		</trim>
  </insert>
  
  <insert id="insertSelective" parameterType="com.linkwee.web.model.CrmCfpLevelRecord" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO tcrm_cfp_level_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
			 	<if test=" null != month ">
					month,
				</if>
			 	<if test=" null != yearpurAmount ">
					yearpur_amount,
				</if>
			 	<if test=" null != curLevel and ''!= curLevel  ">
					cur_level,
				</if>
			 	<if test=" null != curLevelWeight ">
					cur_level_weight,
				</if>
			 	<if test=" null != preLevel and ''!= preLevel  ">
					pre_level,
				</if>
			 	<if test=" null != taCount ">
					ta_count,
				</if>
			 	<if test=" null != sm1Count ">
					sm1_count,
				</if>
			 	<if test=" null != sm2Count ">
					sm2_count,
				</if>
			 	<if test=" null != sm3Count ">
					sm3_count,
				</if>
			 	<if test=" null != optType ">
					opt_type,
				</if>
			 	<if test=" null != status ">
					status,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != updateTime ">
					update_time,
				</if>
			 	<if test=" null != operator and ''!= operator  ">
					operator,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
			 	<if test=" null != month ">
					 	#{month},
				</if>
			 	<if test=" null != yearpurAmount ">
					 	#{yearpurAmount},
				</if>
			 	<if test=" null != curLevel and ''!= curLevel  ">
					 	#{curLevel},
				</if>
			 	<if test=" null != curLevelWeight ">
					 	#{curLevelWeight},
				</if>
			 	<if test=" null != preLevel and ''!= preLevel  ">
					 	#{preLevel},
				</if>
			 	<if test=" null != taCount ">
					 	#{taCount},
				</if>
			 	<if test=" null != sm1Count ">
					 	#{sm1Count},
				</if>
			 	<if test=" null != sm2Count ">
					 	#{sm2Count},
				</if>
			 	<if test=" null != sm3Count ">
					 	#{sm3Count},
				</if>
			 	<if test=" null != optType ">
					 	#{optType},
				</if>
			 	<if test=" null != status ">
					 	#{status},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != updateTime ">
					 	#{updateTime},
				</if>
			 	<if test=" null != operator and ''!= operator  ">
					 	#{operator},
				</if>
		</trim>
	</insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.linkwee.web.model.CrmCfpLevelRecord" >
  		UPDATE tcrm_cfp_level_record
		<set>
			<trim suffixOverrides=",">
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != month ">
						month = #{month},
					</if>
					<if test=" null != yearpurAmount ">
						yearpur_amount = #{yearpurAmount},
					</if>
					<if test=" null != curLevel and ''!= curLevel  ">
						cur_level = #{curLevel},
					</if>
					<if test=" null != curLevelWeight ">
						cur_level_weight = #{curLevelWeight},
					</if>
					<if test=" null != preLevel and ''!= preLevel  ">
						pre_level = #{preLevel},
					</if>
					<if test=" null != taCount ">
						ta_count = #{taCount},
					</if>
					<if test=" null != sm1Count ">
						sm1_count = #{sm1Count},
					</if>
					<if test=" null != sm2Count ">
						sm2_count = #{sm2Count},
					</if>
					<if test=" null != sm3Count ">
						sm3_count = #{sm3Count},
					</if>
					<if test=" null != optType ">
						opt_type = #{optType},
					</if>
					<if test=" null != status ">
						status = #{status},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
					<if test=" null != operator and ''!= operator  ">
						operator = #{operator},
					</if>
			</trim>
		</set>
		<where>
			 id = #{id}
		</where>
	</update>
  
	<update id="updateByPrimaryKey" parameterType="com.linkwee.web.model.CrmCfpLevelRecord" >
	    UPDATE tcrm_cfp_level_record
	   <set>
			<trim suffixOverrides=",">
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != month ">
						month = #{month},
					</if>
					<if test=" null != yearpurAmount ">
						yearpur_amount = #{yearpurAmount},
					</if>
					<if test=" null != curLevel and ''!= curLevel  ">
						cur_level = #{curLevel},
					</if>
					<if test=" null != curLevelWeight ">
						cur_level_weight = #{curLevelWeight},
					</if>
					<if test=" null != preLevel and ''!= preLevel  ">
						pre_level = #{preLevel},
					</if>
					<if test=" null != taCount ">
						ta_count = #{taCount},
					</if>
					<if test=" null != sm1Count ">
						sm1_count = #{sm1Count},
					</if>
					<if test=" null != sm2Count ">
						sm2_count = #{sm2Count},
					</if>
					<if test=" null != sm3Count ">
						sm3_count = #{sm3Count},
					</if>
					<if test=" null != optType ">
						opt_type = #{optType},
					</if>
					<if test=" null != status ">
						status = #{status},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
					<if test=" null != operator and ''!= operator  ">
						operator = #{operator},
					</if>
			</trim>
		</set>
		<where>
			id = #{0}
		</where>
	  </update>

	<!-- 分页条件查询 -->
    <select id="selectBySearchInfo" resultMap="BaseResultMap" parameterType="com.linkwee.core.datatable.DataTable">
        SELECT
        <include refid="Base_Column_List" />
        FROM tcrm_cfp_level_record
        <where> 
        <if test="dt.search!=null">  
                name LIKE CONCAT('%','${dt.search.value}','%' )  
         </if>  
         <if test="dt.order!=null">  
               <foreach collection="dt.order" index="index" item="item"
                    open="order by" separator="," close=" ">
                    ${item.name} ${item.dir} 
                </foreach>
         </if>  
        </where>
    </select>
    
    <!-- 更新理财师职级记录 有效->无效 -->
	<update id="updateYearpurAmountNow" >
		UPDATE tcrm_cfp_level_record
		SET status = 0,
		 update_time = NOW()
		WHERE
			status = 1
	</update>
	
	<!-- 查询一个月内理财师的年化业绩(年化业绩>0)-->
    <select id="querycfpYearpurAmount" resultType="com.linkwee.web.response.CfpYearpurAmountResponse">					
		SELECT
			temp.profitCfplannerId,
			SUM(temp.yearpurAmount) AS yearpurAmount,
			IFNULL(
				(
					SELECT
						tclr.cur_level
					FROM
						tcrm_cfp_level_record tclr
					WHERE
						tclr.user_id = temp.profitCfplannerId
					AND tclr. STATUS = 1
					ORDER BY
						tclr.create_time DESC
					LIMIT 1
				),
				'TA'
			) AS curLevel
		FROM
			(
				SELECT <!-- 网贷 -->
					tf.profit_cfplanner_id AS profitCfplannerId,
					tf.yearpur_amount AS yearpurAmount
				FROM
					tcim_feedetail tf
				WHERE
					tf.fee_type = '1001'
				AND tf.create_time <![CDATA[ >= ]]> CONCAT(#{startTime},'	00:00:00')
				AND tf.create_time <![CDATA[ < ]]> CONCAT(#{endTime},'	00:00:00')
				AND tf.yearpur_amount <![CDATA[ > ]]> 0
				UNION ALL
					SELECT<!-- 保险 -->
						ti.cfplanner AS profitCfplannerId,
						tin.price / 100 AS yearpurAmount
					FROM
						tcim_insurance_notify tin,
						tcrm_investor ti
					WHERE
						ti.user_id = tin.user_id
					AND tin.creat_time <![CDATA[ >= ]]> CONCAT(#{startTime},'	00:00:00')
					AND tin.creat_time <![CDATA[ < ]]> CONCAT(#{endTime},'	00:00:00')
					AND tin.price <![CDATA[ > ]]>  0
			) temp
		GROUP BY
			temp.profitCfplannerId			
    </select>

	<!-- 查询一个月内理财师的年化业绩(年化业绩=0)-->
    <select id="querycfpYearpurAmount0" resultType="com.linkwee.web.response.CfpYearpurAmountResponse">
		SELECT
			tc.user_id AS profitCfplannerId,
			0 AS yearpurAmount,
			IFNULL(
				(
					SELECT
						tclr.cur_level
					FROM
						tcrm_cfp_level_record tclr
					WHERE
						tclr.user_id = tc.user_id
					AND tclr. STATUS = 1
					ORDER BY
						tclr.create_time DESC
					LIMIT 1
				),
				'TA'
			) AS curLevel
		FROM
			tcrm_cfplanner tc
		LEFT JOIN (<!-- 网贷 -->
			SELECT DISTINCT
				tf.profit_cfplanner_id
			FROM
				tcim_feedetail tf
			WHERE
				tf.fee_type = '1001'
			AND tf.yearpur_amount <![CDATA[ > ]]> 0
			AND tf.create_time <![CDATA[ >= ]]> CONCAT(#{startTime},'	00:00:00')
			AND tf.create_time <![CDATA[ < ]]> CONCAT(#{endTime},'	00:00:00')
		) temp1 ON tc.user_id = temp1.profit_cfplanner_id
		LEFT JOIN (<!-- 保险 -->
			SELECT
				DISTINCT ti.cfplanner AS profit_cfplanner_id
			FROM
				tcim_insurance_notify tin,
				tcrm_investor ti
			WHERE
				ti.user_id = tin.user_id
			AND tin.creat_time <![CDATA[ >= ]]> CONCAT(#{startTime},'	00:00:00')
			AND tin.creat_time <![CDATA[ < ]]> CONCAT(#{endTime},'	00:00:00')
			AND tin.price <![CDATA[ > ]]>  0
		) temp2 ON tc.user_id = temp2.profit_cfplanner_id
		WHERE
			temp1.profit_cfplanner_id IS NULL
		AND temp2.profit_cfplanner_id IS NULL
    </select>

	<insert id="insertCfpLevelRecordList"  parameterType="java.util.List">  
	    insert into tcrm_cfp_level_record (user_id,month,yearpur_amount,cur_level,cur_level_weight,pre_level,status,create_time)   
	    values  
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.userId},#{item.month},#{item.yearpurAmount},#{item.curLevel},#{item.curLevelWeight},#{item.preLevel},#{item.status},#{item.createTime})  
	    </foreach>  
	</insert>  

	<insert id="batchInsert" parameterType="com.linkwee.web.model.CfpLevelNode" >
    	INSERT INTO tcrm_cfp_level_record(user_id,month,yearpur_amount,cur_level,cur_level_weight,pre_level,ta_count,sm1_count,sm2_count,sm3_count,opt_type,status)
		<foreach collection="cfpLevelNodeList" index="index" item="item"
            open="values" separator="," close="">
            (#{item.userId},#{item.month},#{item.personAmount},#{item.level},#{item.levelWeight},#{item.jobGrade},#{item.probationNum},#{item.adviserNum},#{item.managerNum},#{item.directorNum},1,1)
        </foreach>
  	</insert>
  		
  	<select id="isExistMonth" resultType="boolean">
        SELECT COUNT(DISTINCT(month)) FROM tcrm_cfp_level_record WHERE month=#{month}
    </select>
    
    <update id="updateLevelRecordByUserId" parameterType="com.linkwee.web.model.CrmCfpLevelRecord" >
  		UPDATE tcrm_cfp_level_record
		<set>
			<trim suffixOverrides=",">
					<if test=" null != month ">
						month = #{month},
					</if>
					<if test=" null != yearpurAmount ">
						yearpur_amount = #{yearpurAmount},
					</if>
					<if test=" null != curLevel and ''!= curLevel  ">
						cur_level = #{curLevel},
					</if>
					<if test=" null != curLevelWeight ">
						cur_level_weight = #{curLevelWeight},
					</if>
					<if test=" null != preLevel and ''!= preLevel  ">
						pre_level = #{preLevel},
					</if>
					<if test=" null != taCount ">
						ta_count = #{taCount},
					</if>
					<if test=" null != sm1Count ">
						sm1_count = #{sm1Count},
					</if>
					<if test=" null != sm2Count ">
						sm2_count = #{sm2Count},
					</if>
					<if test=" null != sm3Count ">
						sm3_count = #{sm3Count},
					</if>
					<if test=" null != optType ">
						opt_type = #{optType},
					</if>
					<if test=" null != status ">
						status = #{status},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
					<if test=" null != operator and ''!= operator  ">
						operator = #{operator},
					</if>
			</trim>
		</set>
		<where>
			 user_id = #{userId}
		</where>
	</update>
    
  	<select id="queryStatisticsList" resultType="com.linkwee.web.response.CfpLevelDataStatisticsListResp" parameterType="com.linkwee.web.request.CfpLevelStatisticsRequest">
		SELECT
			tclr.`month`,
			IFNULL(
				(
					SELECT
						tf.fee_profit_number
					FROM
						tcim_feesummary tf
					WHERE
						tf.biz_id = tclr.`month`
				),
				0
			) AS xsyjStaticCount,
			IFNULL(
				(
					SELECT
						tf.recommend_profit_numer
					FROM
						tcim_feesummary tf
					WHERE
						tf.biz_id = tclr.`month`
				),
				0
			) AS tjjlStaticCount,
			IFNULL(
				(
					SELECT
						tf.child_management_profit_number
					FROM
						tcim_feesummary tf
					WHERE
						tf.biz_id = tclr.`month`
				),
				0
			) AS zjgljtStaticCount,
			IFNULL(
				(
					SELECT
						tf.team_management_profit_numer
					FROM
						tcim_feesummary tf
					WHERE
						tf.biz_id = tclr.`month`
				),
				0
			) AS tdgljtStaticCount,
			(
				SELECT
					COUNT(tclr2.id)
				FROM
					tcrm_cfp_level_record tclr2
				WHERE
					tclr2.`month` = tclr.`month`
				AND tclr2.cur_level = 'TA'
			) AS taStaticCount,
			(
				SELECT
					COUNT(tclr3.id)
				FROM
					tcrm_cfp_level_record tclr3
				WHERE
					tclr3.`month` = tclr.`month`
				AND tclr3.cur_level = 'SM1'
			) AS sm1StaticCount,
			(
				SELECT
					COUNT(tclr4.id)
				FROM
					tcrm_cfp_level_record tclr4
				WHERE
					tclr4.`month` = tclr.`month`
				AND tclr4.cur_level = 'SM2'
			) AS sm2StaticCount,
			(
				SELECT
					COUNT(tclr5.id)
				FROM
					tcrm_cfp_level_record tclr5
				WHERE
					tclr5.`month` = tclr.`month`
				AND tclr5.cur_level = 'SM3'
			) AS sm3StaticCount
		FROM
			tcrm_cfp_level_record tclr
		WHERE
			tclr.`month` <![CDATA[>=]]> #{startTime}
		AND tclr.`month` <![CDATA[<=]]> #{endTime}
		GROUP BY
			tclr.`month`
    </select>
        
</mapper>