
 .content-index {
	width: 100%;
	float: left;
	line-height: 45px
}

.introduce {
/* 	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	background: #fff */
		background: #fff;
	width: 1002px;
	overflow: hidden;
	margin: 0 auto
}


 .introduce  .introduce-img {
	float: left;
	width: 264px;
	height: 124px
}

 .introduce  .introduce-img img {
	width: 100%;
	height: 124px
}

 .introduce  .introduce-detail {
	float: left;
	width: 453px;
	padding-left: 24px
}

 .introduce  .introduce-detail h2 {
	width: 100%;
	overflow: hidden;
	padding-bottom: 5px;
	color: #323232;
	font-size: 22px
}

 .introduce  .introduce-detail h2 i {
	padding-right: 10px;
	float: left
}

 .introduce  .introduce-detail h2 span {
	float: left;
	font-size: 14px;
	color: #fff;
	background: #fd5353;
	padding: 4px 6px;
	border-radius: 5px
}

 .introduce  .introduce-detail ul li {
	 padding-top: 30px;
	float: left;
	width: 214px 
}

.nolist td {
	background-position: 300px center
}

 .tab {
	background: #fff;
	width: 1002px;
	overflow: hidden;
	margin: 0 auto
}

 .tab .tab-head {
	width: 100%;
	overflow: hidden;
	padding-top: 37px;
	margin-bottom: 32px;
	border-bottom: 1px solid #ccc
}

 .tab .tab-head li {
	float: left;
	margin-right: 35px;
	border-bottom: 2px solid #fff
}

 .tab .tab-head li a {
	display: block;
	font-size: 20px;
	height: 20px;
	padding: 0 14px 14px
}

 .avatar, .content .platform {
	background: #fff;
	display: none;
	margin: 0 auto;
	overflow: hidden
}

 .tab .tab-head .tab-active {
	border-color: #fd5353;
	color: #fd5353
}

 .tab-content {
	background: #fff;
	position: relative;
	width: 962px;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
	min-height: 100px
}

 .tab-content .tab-show {
	width: 100%;
	overflow: hidden
}

 .tab-content .tab-show h2 {
	padding-bottom: 15px;
	font-size: 22px;
	color: #323232
}

 .tab-content .tab-show p {
	line-height: 30px;
	padding-bottom: 30px
}

 .avatar {
	width: 962px;
	padding: 0 20px 20px
}

 .avatar .avatar-list {
	width: 100%;
	height: 190px;
	border-bottom: 1px solid #ccc
}

 .avatar .avatar-list div {
	float: left;
	height: 100%
}

 .avatar .avatar-list .avatar-list-l {
	width: 150px;
	position: relative;
	height: 100%
}

 .avatar .avatar-list .avatar-list-l img {
	position: absolute;
	left: 0;
	width: 150px;
	bottom: 20px
}

 .avatar .avatar-list .avatar-list-r {
	width: 740px;
	padding-left: 25px
}

 .avatar .avatar-list .avatar-list-r h2 {
	width: 100%;
	height: 58px;
	line-height: 58px
}

 .avatar .avatar-list .avatar-list-r h2 span {
	padding-left: 20px;
	font-size: 18px;
	color: #ffbd56
}

 .avatar .avatar-list .avatar-list-r p {
	line-height: 30px
}

 .platform {
	width: 1002px;
	padding-bottom: 40px;
	border-bottom: 1px solid #dcdcdc
}

 .platform>div {
	float: left;
	height: 230px
}

 .platform>div h2 {
	padding-bottom: 6px
}

 .platform>div li {
	padding-top: 25px
}

 .platform>div li p {
	padding-top: 25px;
	text-indent: 16px;
	overflow: hidden
}

 .platform>div li .report {
	color: #7ac5f9
}

 .platform>div .safe i, .content .platform>div .safe span {
	cursor: pointer;
	float: left
}

 .platform>div .safe span {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	line-height: 15px;
	color: #fff;
	background: #fd5353;
	text-align: center;
	margin-left: 10px
}

 .platform .platform-l {
	width: 394px;
	height: 100%;
	padding-left: 60px
}

 .content-list {
	margin-top: 20px;
	width: 1002px;
	overflow: hidden;
	background: #fff;
	margin-bottom: 40px
}

 .onSaleText {
	font-size: 22px;
	color: #646464;
	padding: 15px 0 20px 15px
}

 .pagination {
	width: 100%;
	padding: 25px 0;
	text-align: right
}