<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkwee.activity.dao.RedpacketTypeMapper">

	<parameterMap type="com.linkwee.activity.model.RedpacketType" id="redpacketType" />
	
	<resultMap  type="com.linkwee.activity.model.RedpacketType" id="redpacketTypeMap">
		<result column="id" property="id"  javaType="Long" jdbcType="BIGINT" />
		<result column="fid" property="fid"  javaType="String" jdbcType="VARCHAR" />
		<result column="name" property="name"  javaType="String" jdbcType="VARCHAR" />
		<result column="money" property="money"  javaType="Double" jdbcType="DECIMAL" />
		<result column="operator" property="operator"  javaType="String" jdbcType="VARCHAR" />
		<result column="init_date" property="initDate"  javaType="Date" jdbcType="DECIMAL" />
		<result column="update_date" property="updateDate"  javaType="Date" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<insert id="insertSelective" parameterMap="redpacketType" >
		INSERT INTO t_red_paper_type    
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != fid and '' != fid ">
					fid,
				</if>
			 	<if test=" null != name and '' != name ">
					name,
				</if>
			 	<if test=" null != money">
					money,
				</if>
				<if test=" null != operator and '' != operator ">
					operator,
				</if>
			 	<if test=" null != initDate">
					init_date,
				</if>
			 	<if test=" null != updateDate">
					update_date,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != fid and '' != fid ">
					 	#{fid},
				</if>
			 	<if test=" null != name and '' != name ">
					 	#{name},
				</if>
			 	<if test=" null != money">
					 	#{money},
				</if>
				<if test=" null != operator and '' != operator ">
					#{operator},
				</if>
			 	<if test=" null != initDate">
					 	#{initDate,javaType=Date,jdbcType=DECIMAL},
				</if>
			 	<if test=" null != updateDate">
					 	#{updateDate},
				</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterMap="redpacketType" >
		update t_red_paper_type 
		<set >
	      <if test="name != null and '' != name" >
	        name = #{name},
	      </if>
	      <if test="money != null " >
	        money = #{money},
	      </if>
		<if test=" null != operator and '' != operator ">
			operator = #{operator},
		</if>
	     <if test="updateDate != null" >
	        update_date = #{updateDate},
	     </if>
	    </set>
	    where fid = #{fid}
	</update>
	
	
	<!-- 根据金额查询红包类型 -->
	<select id="getRedPaperTypeByMoney" resultMap="redpacketTypeMap" >
		SELECT fid,money FROM t_red_paper_type  WHERE money = #{money}
	</select>
	<!-- 根据id查询红包类型 -->
	<select id="getRedPaperTypeById" resultMap="redpacketTypeMap" >
		SELECT fid,money FROM t_red_paper_type  WHERE fid = #{redPacketTypeId}
	</select>
</mapper>