<div class="site-footer">
    <!--<div class="footer-adbar">
        <div class="container">
            <ul class="clearfix">
                <li class="first-child">
                    <img src="${CTPATH}/assets/images/footer_select_reason.png" alt="选择T呗的理由">
                </li>
                <li class="two-child">
                    <img src="${CTPATH}/assets/images/footer_reason_01.png" alt="律盾保障计划">
                    <h3>律盾保障计划</h3>
                    <span>提供维权基金、平台风险保障金、顶尖的律师团队</span>
                </li>
                <li class="three-child">
                    <img src="${CTPATH}/assets/images/footer_reason_02.png" alt="甄选优质平台">
                    <h3>甄选优质平台</h3>
                    <span>权威的实地认证考察、调研、资质审核</span>
                </li>
                <li class="four-child">
                    <img src="${CTPATH}/assets/images/footer_reason_03.png" alt="专业的安全评级">
                    <h3>专业的安全评级</h3>
                    <span>综合平台线上、线下运营管理水平</span>
                </li>
                <li class="last-child">
                    <img src="${CTPATH}/assets/images/footer_reason_04.png" alt="大数据实时监测">
                    <h3>大数据实时监测</h3>
                    <span>数据监测、动态、舆情等大数据反馈</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-linkbar">
        <div class="container">
            <div class="linkbar-top">
                <div class="linkbar-nav">
                    <div class="clearfix">
                        <p><a href="${JPRESS_WEBSITE}/module/aboutUs/company.html">公司简介</a></p>
                        <p><a href="${JPRESS_WEBSITE}/module/aboutUs/notice.html">T呗公告</a></p>
                        <p class="none"><a href="${JPRESS_WEBSITE}/module/aboutUs/joint.html">商务合作</a></p>
                        <p class="none"><a href="${JPRESS_WEBSITE}/module/aboutUs/dynamic.html">T呗动态</a></p>
                    </div>
                    <div class="clearfix">
                        <p><a href="${JPRESS_WEBSITE}/module/aboutUs/team.html">团队介绍</a></p>
                        <p><a href="${JPRESS_WEBSITE}/module/aboutUs/helpCenter.html">帮助中心</a></p>
                        <p class="hidden"><a href="${JPRESS_WEBSITE}/module/aboutUs/report.html">媒体报道</a></p>
                    </div>
                    <div class="clearfix">
                        <p><a href="${JPRESS_WEBSITE}/module/protocol/protocol.html">注册协议</a></p>
                        <p><a href="${JPRESS_WEBSITE}/module/safe/safe.html">安全保障</a></p>
                        <p class="hidden"><a href="">行业动态</a></p>
                    </div>
                    <div class="clearfix">
                        <p><a href="${JPRESS_WEBSITE}/module/aboutUs/contact.html">联系我们</a></p>
                        <p class="hidden"><a href="">投资攻略</a></p>
                    </div>
                </div>
                <div class="linkbar-qrcode">
                    <div><img src="${CTPATH}/assets/images/footer_qrcode_icon.png" alt="T呗二维码"></div>
                    <div class="wechat">T呗官方公众号</div>
                </div>
                <div class="linkbar-link">
                    <img src="${CTPATH}/assets/images/footer_tel_icon.png" alt="T呗官方联系电话">
                </div>
            </div>
        </div>
    </div>-->
    <div class="footer-bottombar">
        <div class="container">
            <div class="companyhonest">
                <a href="http://www.bcpcn.com/product/rz/bq/BCP1894497542.html" target="_blank">
                    <img src="${CTPATH}/assets/images/site_identity_red2.png" alt="T呗已通过中网权威数据库对比，获得“诚信企业”身份验证">
                </a>
                <a href="https://ss.knet.cn/verifyseal.dll?sn=e16091944030064723ip1l000000&ct=df&a=1&pa=0.47373637918780176" target="_blank">
                    <img src="${CTPATH}/assets/images/site_identity_red.png" alt="T呗已通过中网权威数据库对比，获得“可信网站”身份验证">
                </a>
            </div>
            <div class="companyrecord">
                <span>Copyright©2016    深圳市前海领会科技有限公司</span>
                <a href="http://www.miitbeian.gov.cn" target="_blank">  粤ICP备16032193号-2</a>
            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    ${OPTION('jpblog_statistical_code')!}
</div>

<@script_import />
<script src="${CTPATH}/assets/js/jquery.min.js"></script>
<script src="${CTPATH}/assets/mediaelement/mediaelement-and-player.min.js"></script>
<@script />

<script type="text/javascript">
    function getCookie (name){
        if (document.cookie.length>0){
            start=document.cookie.indexOf(name + "=");
            if (start!=-1){ 
                start=start + name.length + 1; 
                end=document.cookie.indexOf(";",start);
                if (end==-1) end=document.cookie.length;
                return unescape(document.cookie.substring(start,end));
            } 
        }
        return "";
    } 

    if(getCookie('token')){
        $(".welcome-toobei").text(getCookie('userName') + '，您好，欢迎您来到T呗！');
    }else{
        $(".login-toobei").removeClass('none');
        $(".register-button").parent().removeClass('none');                
    } 

    var elements = $(".x-box-summary");
    for(var i = 0 ; i < elements.length; i++){      
        var despcirpt = $.trim($(elements[i]).text());
       if(despcirpt && despcirpt.length > 180){
           $(elements[i]).text(despcirpt.substr(0,180) + '......');
       }else{
           $(elements[i]).text(despcirpt);
       }
    }

</script>

